/*
1. Odd rows with white background color;
2. ListView: when mouse over an item, highlight with a blue shade;
3. ListView: when an item is selected, paint it with a gradient;
4. ListView: when focus is lost from ListView, selected item should be painted with gradient;
5. ListView: all items will start with text-fill black. But on mouse over and/or selected it will change to white.
*/

.list-cell:filled:selected:focused{
    -fx-background-color: blueviolet;
    -fx-text-fill: white;
}


.list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: red;
    -fx-text-fill: white; /* 5 */
}
.list-cell { 
	-fx-text-fill: black; /* 5 */
     -fx-alignment: top-right ;
}
.list-cell:odd { -fx-background-color: white; /* 1 */ }
.list-cell:even { -fx-background-color: white; /* for information */ }

.list-view {
	-fx-text-alignment: top-right;
}
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0.0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0.0;
}

.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}



.textArea.scroll-bar:vertical .increment-arrow,
.textArea.scroll-bar:vertical .decrement-arrow,
.textArea.scroll-bar:vertical .increment-button,
.textArea.scroll-bar:vertical .decrement-button {
    -fx-padding:0.0;
}